.sw{
  display: flex;
  .si{
    flex: 1;
  }
  .s_button_g{
    margin-left: 20px;
  }
  .sl{
    margin-top: 2%;
    height: 200px;
    // background-color: rosybrown;
    overflow: auto;
  }
  .scl{
    margin-top: 2%;
    height: 200px;
    display: none;
    .scl_u{
      padding: 15px;
    }
    .scl_u li{
      list-style: none;
      margin-top: 10px;
    }
    .scl_u_i{
      width: 40%;
    }
    .scl_b{
      float: right;
    }
    .scl_ava{
      position: absolute;
      top: 15%;
      right: 15%;
    }
  }
  .scl_show{
    display: block;
  }
}
.base_info{
  background-color: rgba(202, 201, 199, 0.281);
  border-left: 2px solid blue;
  padding-left: 5px;
  margin-bottom: 5px;
  height: 40px;
  line-height: 40px;
  &:hover{
    background-color: rgba(202, 201, 199, 0.541);
  }
}
.sg{
  list-style: none;
  padding: 0;
  margin-left: 12px;
  margin-top: 20px;
}
.liitem{
  margin-bottom: 15px;
}
.sg_in{
  border: 1px solid rgb(179, 176, 172);
  position: absolute;
  left: 20%;
  width: 200px;
}
.card{
  height: 600px;
}
.save{
  position: relative;
  top: 64px;
  left: 12px;
  width: 150px;
  text-align: center;
  border: 1px solid rgb(167, 166, 149);
  user-select: none;
  &:hover{
    background-color: rgb(133, 141, 141);
  }
  &:active{
    background-color: rgba(133, 141, 141, 0.438);
  }
}