.header{
    width: auto;
    height: 80px;
    background-color: rgb(12, 57, 117);
    .head_left{
        .icon{
            width: 40px;
            margin-top: 18px;
            margin-left: 10px;
        }
        span{
            font-size: 25px;
            margin-left: 20px;
            position: relative;
            top:10px;  
            color: white;  
            font-family: '幼圆';
        }
        .usericon{
          width: 30px;
          position: relative;
          float: right;
          margin-top: 20px;
          margin-right: 20px;
          margin-left: 15px;
        }
          .info{
            width: 27px;
            position: relative;
            float: right;
            
          }
          .infoicon{
            width: 27px;
            position: relative;
            float: right;
            margin-top: 6px;
            margin-right: 0px;
          }
        .usericon:hover{
          border: 1px solid rgb(17, 8, 143);
        }
        #hovericon:hover{
          border: 1px solid rgb(17, 8, 143);
        }
    }   
}