.warp_content{
    .inner-card{
        margin: 15px 15px;
        .progress_box{
            float: left; 
            margin-left: 120px; 
            .description_style{
                margin-left: 22px;
                margin-top: 10px;
                width: 100px;
            }
        }
        
    }
}