.table{
  // border: 3px solid rgb(199, 32, 32);
  // width: 400px;
  height: 200px;
  // background-color: grey;
}
.htr{
  height: 30%;
  // background-color: rgb(85, 88, 88);
}
.tr{
  height: 75/3%;
  border-bottom: 1px solid gray;
}
.tr:hover{
  background-color: rgba(128, 128, 128, 0.541);
}
aa{
  color: rgba(52, 52, 59, 0.493);
}
